
.col-3{
    text-align: center;
}

.col-6{
    margin-right: 0;
    width: 50%;
}

.row{
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 4rem;
}

.row2{
    margin-top:4rem;
}

img{
    height:75%;
}


.centerImage{
    width: 100%;
    text-align: center;
}

@media screen and (max-width:710px){
.centerImage{
   transform: translateY(20%);
}

.row{
    transform: translateY(5rem);
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

}
.row2{
    transform: translateY(120%);
}
}