.col-3{
    text-align: center;
}

.row{
    text-align: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.centerImage{
    width: 100%;
    text-align: center;
}

@media screen and (max-width:710px){
    .centerImage{
   transform: translateY(50%);
}

.row{
    transform: translateY(5rem);
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

}
.row2{
    transform: translateY(20rem);
}


}